[package]
name = "axiom"
version = "0.0.1"
authors = ["Robert Simmons Jr. MSc."]
publish = false
keywords = ["Actor", "Actor Model", "Concurrency"]
license = "Apache-2.0"
homepage = "https://github.com/rsimmonsjr/axiom"
repository = "https://github.com/rsimmonsjr/axiom"
description = """
Implements a highly-scalable and ergonomic actor system for Rust based on the 
best of Erlang / Elixir and Akka.
"""
edition = "2018"
exclude = [
    "/.git",
    "/.github",
    "/.travis.yml",
]

[badges]
travis_ci = {repository = "rsimmonsjr/axiom" }
is-it-maintained-issue-resolution = {repository = "rsimmonsjr/axiom" }
is-it-maintained-open-issues  = {repository = "rsimmonsjr/axiom" }
maintenance = { status = "actively-developed" }

[dev-dependencies]
env_logger = "0.6.2"

[dependencies]
uuid = "0.7.4"
log ="0.4"

[features]
default = ["uuid/v4"]

